.app{
  font-family: 'Noto Serif KR', serif;
}

.app__content{
  width: 300px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: grey;
}

button{
  background-color: indigo;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

button:hover{
  background-color: green;
}